@import url('https://fonts.cdnfonts.com/css/shiratama-dango');
/* reset basico */


header{
    background-color: #00a2ff9d;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}
body{
    background-color: rgb(20, 20, 20);
    color: white;

}
main{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly; /* Centraliza horizontalmente */
    width: 100%;             /* FORÇA o container a ocupar a largura da tela */
    margin: 5px;          /* Dá um espaço em cima e embaixo */
    padding: 40px;
}
main img{
    border-radius: 20px;
    object-fit: cover;
    width: 500px;
}
#aulas{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Shiratama Dango', sans-serif;
    font-size: 20px;                                            
}
#entrar_agora{
    color: rgb(192, 129, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color:  #3d0075;
    border-radius: 20px;
    object-fit: cover;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 500px;
    text-decoration: none;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#entrar_agora:hover{
    background-color: #5b00b1;
    color: #d2aef3;
    font-size: 18px;
    transition: 0.5s;
}

